.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight, .highlight .w {
  color: #24292f;
  background-color: #f6f8fa;
}

.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #cf222e;
}

.highlight .gr {
  color: #f6f8fa;
}

.highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}

.highlight .nb {
  color: #953800;
}

.highlight .nc {
  color: #953800;
}

.highlight .no {
  color: #953800;
}

.highlight .nn {
  color: #953800;
}

.highlight .sr {
  color: #116329;
}

.highlight .na {
  color: #116329;
}

.highlight .nt {
  color: #116329;
}

.highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}

.highlight .kc {
  color: #0550ae;
}

.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #0550ae;
}

.highlight .sb {
  color: #0550ae;
}

.highlight .bp {
  color: #0550ae;
}

.highlight .ne {
  color: #0550ae;
}

.highlight .nl {
  color: #0550ae;
}

.highlight .py {
  color: #0550ae;
}

.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0550ae;
}

.highlight .o, .highlight .ow {
  color: #0550ae;
}

.highlight .gh {
  color: #0550ae;
  font-weight: bold;
}

.highlight .gu {
  color: #0550ae;
  font-weight: bold;
}

.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #0a3069;
}

.highlight .nd {
  color: #8250df;
}

.highlight .nf, .highlight .fm {
  color: #8250df;
}

.highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6e7781;
}

.highlight .gl {
  color: #6e7781;
}

.highlight .gt {
  color: #6e7781;
}

.highlight .ni {
  color: #24292f;
}

.highlight .si {
  color: #24292f;
}

.highlight .ge {
  color: #24292f;
  font-style: italic;
}

.highlight .gs {
  color: #24292f;
  font-weight: bold;
}

/*! tailwindcss v3.3.2 | MIT License | https://tailwindcss.com*/
*, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

:after, :before {
  --tw-content:"";
}

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variation-settings: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
}

fieldset, legend {
  padding: 0;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

[role=button], button {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}

img, video {
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none;
}

body, html {
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration-line: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

code {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  white-space: pre;
}

.footer a {
  text-decoration-line: none;
}

*, :after, :before {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgba(59,130,246,.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgba(59,130,246,.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.my-36 {
  margin-bottom: 9rem;
  margin-top: 9rem;
}

.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.-ml-8 {
  margin-left: -2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-36 {
  margin-top: 9rem;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-8 {
  width: 2rem;
}

.list-none {
  list-style-type: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.justify-items-center {
  justify-items: center;
}

.gap-0 {
  gap: 0;
}

.whitespace-pre {
  white-space: pre;
}

.bg-black {
  --tw-bg-opacity:1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity:1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pb-36 {
  padding-bottom: 9rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.leading-normal {
  line-height: 1.5;
}

.text-gray-500 {
  --tw-text-opacity:1;
  color: rgb(107 114 128/var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity:1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-2\/3 {
    width: 66.666667%;
  }
  .md\:w-3\/4 {
    width: 75%;
  }
  .md\:max-w-screen-md {
    max-width: 768px;
  }
}

/*# sourceMappingURL=main.css.map */