---
---

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'syntax';

@layer base {
  /* Disable horizontal scroll */
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  a {
    @apply underline;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply leading-normal font-medium my-3;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  code {
    @apply whitespace-pre inline-block text-sm;
  }
  .footer a {
    @apply no-underline;
  }
}
