<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% if page.custom_css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.custom_css }}.css">
    {% endif %}
  <body class="bg-black">
    <div class="bg-white pt-8 pb-36">
      <a href="{{ site.baseurl }}/">
        {% svg "/assets/images/recap.svg" class="mx-auto" %}
      </a>
      <div class="md:max-w-screen-md mx-auto p-4">
        {{ content }}
      </div>
    </div>
    <div class="footer bg-black grid grid-cols-1 justify-items-center p-8">
      <a href="https://github.com/recap-build/recap-website">
        {% svg "/assets/images/github.svg" class="w-8" %}
      </a>
    </div>
  </body>
</html>
